<header>
  <div class = "container header-group">
    <div class = "row">
      <div class = "col-md-2">
       <%= link_to image_tag('logo.png'), :size => '42x60' %>
      </div>
      <div class = "box col-md-4"></div>
      <nav>
        <ul class = "nav col-md-4 mx-auto">
          <li class = "nav-item">Portfolio</li>
          <li class = "nav-item">Feature</li>
          <li class = "nav-item">Profile</li>
          <li class = "nav-item">contact</li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class = "container mainvisual-1">
  <h1 class = "mv-title">Lorem Ipsum</h1>
  <p class = "mv-text">simply dummy text of the printing</p>
</div>
<div class = "container mainvisual-2">
  <div class = "profile-text">
    <h1 class = "profile-title">Portfolio</h1>
    <div class "border"></div>
    <p class = "profile-body">
      It is a long established fact that a reader will be distracted by the readable</br>
      content of a page when looking at its layout.</br>
      The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</br>
    </p>
  </div>
  <div class = "profile-image">
    <div class = "image-box">
      <%= image_tag "sketch.jpg", class: "image" %>
      <%= image_tag "websuku.png", class: "image" %>
      <%= image_tag "write.jpg", class: "image" %>
    </div>
    <div class = "image-box">
      <%= image_tag "webcamp.png", class: "image" %>
      <%= image_tag "talk.jpg", class: "image" %>
      <%= image_tag "webcamp-mother.png", class: "image" %>
    </div>
  </div>
</div>
<div class = "container mainvisual-3">
  <div class = "feature-text">
    <h1 class = "feature-title">Feature</h1>
    <p class = "fearure-body">
      It is a long established fact that a reader will be distracted by the readable</br>
      content of a page when looking at its layout.</br>
      The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
    </p>
  </div>
  <div class = "feature-box0">
    <div class = "feature-box">
      <h3 class = "title">Strength1</h3>
      <p class = "body">
        Contrary to popular belief, Lorem Ipsum</br>
        is not simply random text. It has roots</br>
        in a piece of classical Latin literature</br>
        from 45 BC, making it over 2000 years</br>
        old. Richard McClintock, a Latin</br>
        professor at Hampden-Sydney College</br>
        in Virginia, looked up one of the more</br>
        obscure Latin words, consectetur
      </p>
    </div>
    <div class = "feature-box">
      <h3 class = "title">Strength2</h3>
      <p class = "body">
        Contrary to popular belief, Lorem Ipsum</br>
        is not simply random text. It has roots</br>
        in a piece of classical Latin literature</br>
        from 45 BC, making it over 2000 years</br>
        old. Richard McClintock, a Latin</br>
        professor at Hampden-Sydney College</br>
        in Virginia, looked up one of the more</br>
        obscure Latin words, consectetur
      </p>
    </div>
    <div class = "feature-box">
      <h3 class = "title">Strength3</h3>
      <p class = "body">
        Contrary to popular belief, Lorem Ipsum</br>
        is not simply random text. It has roots</br>
        in a piece of classical Latin literature</br>
        from 45 BC, making it over 2000 years</br>
        old. Richard McClintock, a Latin</br>
        professor at Hampden-Sydney College</br>
        in Virginia, looked up one of the more</br>
        obscure Latin words, consectetur
      </p>
    </div>
  </div>
</div>
<div class = "container mainvisual-4">4</div>
<div class = "container mainvisual-5">5</div>


<footer>
  <div class = "container footer-group">
    <p>©︎2017 WebCamp</p>
  </div>
</footer>